body{
    background-color:rgb(171, 157, 138);
    
}
    h1{
    color: rgb(72, 44, 36);
}
h2{
    color:rgb(119, 46, 46);
    text-decoration: underline rgb(91, 37, 45) 5px;
}
img{
    width:810px;
    border: 7px groove rgb(118, 100, 79);
}
.img2{
    width:300px;
    height: 350px;
}
p{
    color:rgb(24, 52, 41);
    border: solid rgb(28, 83, 53) 5px;
    font-family:'Courier New', Courier, monospace;
}